<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409836146565-eam3sed7de7uiqn3lprnb4bfov685502.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409836146565-eam3sed7de7uiqn3lprnb4bfov685502</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409836146565-tkbb60l8mivu86hi8lad18a9fdg2pe4h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmz3ecQGpRone90v9zyZEKpefCnIbLi5k</string>
	<key>GCM_SENDER_ID</key>
	<string>409836146565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.autobeeb.ab</string>
	<key>PROJECT_ID</key>
	<string>autobeeb-b849d</string>
	<key>STORAGE_BUCKET</key>
	<string>autobeeb-b849d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409836146565:ios:7cbdcbe3d27681b2087eec</string>
	<key>DATABASE_URL</key>
	<string>https://autobeeb-b849d.firebaseio.com</string>
</dict>
</plist>